.form {
  display: flex;
  align-items: center;
}
.input {
  margin: 20px;
  width: 420px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.inputBlock {
  display: flex;
  flex-direction: column;
}
.enter {
  width: auto;
  margin-right: 20px;
}
.button {
  padding: 0 5px;
  margin: 0;
}
.error {
  position: absolute;
  top: 20px;
  color: red;
  font-size: small;
}
