.component {
  padding: 8px;
  transition: background-color 0.2s ease;
  flex-grow: 1;
  min-height: 100px;
}
.active {
  background-color: #fabca4;
}
.active1 {
  background-color: #a4faa4;
}
.active2 {
  background-color: #b1a4fa;
}
